.cover{
    background-color: #1C1F1B;
    opacity: 0.5;
    z-index: 99;
    width: 100%;
    height: 1000px;
}
.content{
    z-index: 100;
    position: absolute;
    width: 7.853rem;
    height: 6.773rem;
    top: 3.893rem;
    left: 1.103rem;
    background-color: white;
    background: url(../image/error-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.content h2{
    font-size: 0.4rem;
    background: url(../image/btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    color:#ffffff;
    width: 3.093rem;
    height: 1.04rem;
    position: relative;
    text-align: center;
    line-height: 1.04rem;
    margin: 0 auto;
    margin-top: 4.36rem;

}
.close img {
    width: 0.553rem;
    height: 0.553rem;
    position: absolute;
    top: 3.586rem;
    left: 8.186rem;
    cursor: pointer;
}
