.header-title{
    margin-top: 0.507rem;
    margin-left: 0.493rem
}
.header-title img{
    width:5.733rem;
    height:1rem ;
    max-width: 100%;
}
.header-body{
    margin-top: 0.92rem;
}

.header-body img{
    width: 9.68rem;
    height: 3.093rem;
    max-width: 100%;
}

.header-content{
    margin-top: 1.213rem;
    margin-left: 0.346rem;
}

.header-content img{
    width: 9rem;
    height: 4.333rem;
}

.header-footer{
    margin-top: 1.08rem;
    margin-left: 2.64rem;
}
.header-footer img{
    width: 4.733rem;
    height: 1.333rem;
}
