.header-title{
    margin-top: 0.613rem;
}
.header-title img{
    width: 8.306rem;
    height: 0.906rem;
    margin-left: 0.8666rem;
}
.header-question{
    margin-top: 1.493rem;
}
.header-question p{
    font-size: 0.4rem;
    color: #171515;
    width: 8.866rem;
    margin-left: 0.546rem;
}
.header-question ul{
    margin-top: 0.893rem;
}
.header-question li{
    width:8.88rem ;
    padding-top: 0.346rem;
    padding-bottom: 0.346rem;
    margin-left: 0.546rem;
    background: url(../image/question-li.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    border-radius: 10px;
}
.margin{
    margin-top: 0.493rem;
}
.header-question li span{
    font-size: 0.373rem;
    color: #ffffff;
}
.header-question li span:nth-child(1){
    margin-left: 0.506rem;
    margin-right: 0.426rem;
}

.header-question li:hover{
    background: url(../image/question-li-active.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.header-footer{
    margin-top: 1.746rem;
}
.header-footer p{
    width: 9.333rem;
    height: 0.8rem;
    font-size: 0.4rem;
    line-height: 0.8rem;
    color: #FEFEFE;
    text-align: center;
    background: url(../image/question-footer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.header-footer ul{
    margin-top: 0.48rem;
}
.header-footer ul li{
    color:#2F5310;
    font-size: 0.32rem;
}
.header-footer ul li:nth-child(2){
    margin-top: 0.186rem;
    margin-bottom: 0.186rem;
}